<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Jellyfin GitHub Packages -->
    <add key="jellyfin" value="https://nuget.pkg.github.com/jellyfin/index.json" />
  </packageSources>

  <!-- GitHub Actions: nutzt GITHUB_TOKEN automatisch über env NUGET_AUTH_TOKEN -->
  <packageSourceCredentials>
    <jellyfin>
      <add key="Username" value="github-actions" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </jellyfin>
  </packageSourceCredentials>
</configuration>
