<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="jellyfin" value="https://nuget.pkg.github.com/jellyfin/index.json" />
  </packageSources>

  <!-- optional: Prioritäten sind nicht offiziell, aber Source-Mapping ist stabiler -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="jellyfin">
      <package pattern="MediaBrowser.*" />
      <package pattern="Jellyfin.*" />
      <package pattern="Emby.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
