<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="jellyfin" value="https://nuget.pkg.github.com/jellyfin/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <jellyfin>
      <add key="Username" value="github-actions" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </jellyfin>
  </packageSourceCredentials>
</configuration>
